.panel-title {
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-text-align: center;
    -fx-width: 100%;
}

.panel-subtitle {
    -fx-font-size: 20;
    -fx-font-style: italic;
    -fx-font-align: left;
}

.option-label {
    -fx-font-size: 20;
    -fx-text-align: right;
}

.checkbox-label {
    -fx-font-size: 20;
    -fx-text-align: left;
}

.option-unit {
    -fx-font-size: 20;
    -fx-text-align: left;
}

.option-text-area {
    -fx-pref-width: 60;
}

.panel-section {
    -fx-padding: 0 30 0 30;
    -fx-spacing: 5;
}

.section-item {
    -fx-pref-height: 100%;
    -fx-spacing: 10;
    -fx-alignment: center;
 }

// Modify the split panes divider bar
.split-pane > .split-pane-divider {
	-fx-background-color: white;
	-fx-border-color: #666666;
	-fx-pref-width: 1;
}
.split-pane:horizontal > .split-pane-divider {
	-fx-background-insets: 0, 0 1 0 1;
	-fx-border-width: 0 1 0 1;
}
}