.App {
  text-align: center;
  padding: 5px;
}

.option-label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.option-unit {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.is-custom-tile {
  padding: 0 0 5px 0 !important;
}

.subsection-title {
  margin-left: 10px;
}

.test {
  outline: 1px solid blue;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
